*{
  box-sizing: border-box;
}
.title{
  margin-left: 500px;
  color: #00a6ff;

}
#container{
  width: 1080px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.93);

}
h2{
  margin-right: auto;
  width: 140px;
  height: 26px;
  margin-left: auto;
  color: green;
}
.card{
  display: inline-block;
  margin: 10px;
  width: 150px;
  height: 200px;
  background-color: #9c0707;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #c0a915;
}
.card:hover{
  cursor: pointer;
  border: 3px solid blue;
}
.card p{
  font-size: 48px;
  color: blue;
}
